Source: cm4all-davos
Section: non-free/web
Priority: extra
Maintainer: Max Kellermann <mk@cm4all.com>
Build-Depends: debhelper (>= 8), autoconf (>= 2.60), automake (>= 1.11),
 clang-3.4 | cm4all-thirdparty-clang (>= 3.4),
 libc6-dev (>= 2.13),
 libexpat1-dev,
 libcm4all-inline-dev (>= 0.3.3),
 libcm4all-fox-dev (>= 0.2.1), libcm4all-was-dev (>= 0.3),
 libcm4all-od1-dev (>= 1.2)
Standards-Version: 3.9.1
XS-Python-Standards-Version: 0.4
XS-Python-Version: all
Vcs-git: git.intern.cm-ag:/srv/git/master/davos.git

Package: cm4all-davos-plain
Architecture: any
Depends: ${shlibs:Depends}
Recommends: cm4all-beng-proxy
Description: WebDAV server for plain filesystem
 Davos is a WebDAV server with a WAS (Web Application Socket)
 frontend.
 .
 This package contains the plain local filesystem backend.

Package: cm4all-davos-od
Architecture: any
Depends: ${shlibs:Depends}, mime-support
Recommends: cm4all-beng-proxy
Description: WebDAV server for OnlineDrive
 Davos is a WebDAV server with a WAS (Web Application Socket)
 frontend.
 .
 This package contains the OnlineDrive backend.

Package: cm4all-davos-doc
Section: non-free/doc
Architecture: all
Description: WebDAV server for OnlineDrive, documentation
 Davos is a WebDAV server with a WAS (Web Application Socket)
 frontend.
 .
 This package contains documentation.
