Source: cm4all-davos
Section: non-free/web
Priority: extra
Maintainer: Max Kellermann <mk@cm4all.com>
Build-Depends: debhelper (>= 12~),
 meson (>= 0.56),
 g++ (>= 4:10),
 libc6-dev (>= 2.19),
 libexpat1-dev,
 libfmt-dev (>= 7),
 libcm4all-was-simple-dev (>= 1.20),
 libgtest-dev,
 python3-sphinx
Build-Conflicts: libcm4all-inline-dev (<< 0.3.6)
Standards-Version: 3.9.1
XS-Python-Standards-Version: 0.4
XS-Python-Version: all
Vcs-Browser: http://dev.intern.cm-ag/max/davos
Vcs-git: git@dev.intern.cm-ag:max/davos.git

Package: cm4all-davos-plain
Architecture: any
Depends: ${shlibs:Depends}
Recommends: mime-support
Enhances: cm4all-beng-proxy
Description: WebDAV server for plain filesystem
 Davos is a WebDAV server with a WAS (Web Application Socket)
 frontend.
 .
 This package contains the plain local filesystem backend.

Package: cm4all-davos-doc
Section: non-free/doc
Architecture: all
Depends: ${misc:Depends}, ${sphinxdoc:Depends}
Description: WebDAV server for OnlineDrive, documentation
 Davos is a WebDAV server with a WAS (Web Application Socket)
 frontend.
 .
 This package contains documentation.
