#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

MESON_OPTIONS = \
	-Ddocumentation=true \
	-Dtest=enabled \
	--werror

%:
	dh $@ --with sphinxdoc

override_dh_auto_configure:
	dh_auto_configure -- $(MESON_OPTIONS)
